:root {
  --bg: antiquewhite;
}

body {
  background-color: var(--bg);
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  margin: 0px auto;
  padding: 0px auto;
}

div {
  display: block;
  align-items: center;
}

h1 {
  margin: 20px;
}

p {
  width: 70%;
}

p:hover {
  text-decoration: underline;
}

.bio {
  margin-left: 20px;
}